[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/vim-vinegar"]
	path = vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/start/splitjoin.vim"]
	path = vim/pack/plugins/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "zsh/oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
